

/* the pet */

.petBody {
    margin-top: -15;
}
.petButton {
    background-color: cyan;
    border: none;
    color: black;
    text-shadow: -1px 1px 0 rgba(0,255,255,.4);

}

.fancy {
    background-color: yellow;
    border: solid;
    border-color:magenta;
    color: magenta;
    /* text-shadow: -2px 2px 0 rgba(255,255,0,1); */
    
    filter:invert(100%);
    /* background-image: url("/petz.gif"); */
    height: 72%;
    width: 72%;
    transition: 1s;
    transition-delay: 5ms;
    animation: animate 2.4s ease-in-out;
    border-radius: 50%
}
.fancy:hover {
    filter:blur(0px); 
  height: 50%;
  width:50%;
}


