.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");


@font-face {
  font-family: 'Alphasmoke-OOX6';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/Alphasmoke-OOX6.ttf'); 
  src: local('Open Sans'), local('OpenSans'),
       url('../src/fonts/Alphasmoke-OOX6.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/Alphasmoke-OOX6.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/Alphasmoke-OOX6.ttf#OpenSans') format('ttf'); /* Legacy iOS */
}
h1 {
  font-family: 'Alphasmoke-OOX6', monospace, sans-serif;
  background-color: #EA1083;
  color: #13F8E7; 
  opacity: 1
  /* will need to specify this for title */


}
/* fonts and nonbootstrap styling */

body {
  font-family: 'VT323', monospace, sans-serif;
  



  height: 1200px;
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, yellow, orange, cyan, teal);
   /* can specifiy to bottom left etc, and use as few or many colors as wanted, will likely be subsituted for another look */

}
