
/* uses candyshop font */
.topLogo {
  text-align: center;
  min-height: 14vh;
  font-size: 14vh;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  /* //maybe use these for footer colors too */
  background: radial-gradient(cyan,yellow,magenta);
  text-shadow: -5px 5px 0 rgba(0,255,255,1);


  /* the fancy fancy */
  animation: animate 1.9s ease-in-out;
  border-style: solid 2px;

}

@keyframes animate{
  0%,{
    transform: rotate(-360deg) skew(1deg) translate(0px,1200px);
    text-shadow: -5px 5px 0 rgba(0,255,255,1);
  }
  50%{
     transform: rotate(-360deg) skew(4deg) translate(0px,0px);
     text-shadow: -5px 5px 0 rgba(0,255,255,1);
    /* filter: blur(12px); */
  }
}

  
  